body {
    display: flex;
    background-color: rgb(131, 121, 121);
    flex-direction: column;
}

label {
    font-weight: bold;
    font-size: larger;
}

input {
    background-color: aquamarine;
    height: 2em;
    font-size: large;
    caret-color: transparent;
}

p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: medium;
    font-size: large;
    margin-top: 2px;
}

th, td {
    border: 10px solid black;
    height: 20%;
    width: 20%;
    text-align: center;
}

table {
    width: 40%;
    margin-left: auto;
    margin-right: auto
}

.letterBox {
    height: 60px;
    background-color: blue;
    /*margin-top: 1em; */
    font-size: 12vh;
    text-align: center;
    font-size: large;
    
}

section {
    text-align: center;
}

button {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

.currentPlayerLabel {
    display: flex;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
}

