body {
    display: flex;
    background-color: rgb(131, 121, 121);
    flex-direction: column;
}

h1 {
    text-align: center;
}

label {
    font-weight: bold;
    font-size: larger;
}

input {
    background-color: aquamarine;
    height: 2em;
    font-size: large;
    caret-color: transparent;
    
}

p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: medium;
    font-size: large;
    margin-top: 2px;
}

section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}
section div {
    height : 66px;
    width : 100px;
    border : 1px solid black;
    
}
.letterBox {
    display: flex;
    height: 60px;
    background-color: blue;
    font-size: 20vh;
    text-align: center;
    font-size: large;
    font-weight: bolder;
    align-items: center;
    justify-content: center;
}

section {
    text-align: center;
    
}

button {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border-style: groove;
}

.currentPlayerLabel {
    display: flex;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
}

#gameBoard {
    margin-top: 10px;
}